################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/DiceJrs/Release/DiceJrs.log
/DiceJrs/Release/com.jrs.dice.tlog
